{% extends 'base.html' %}
{% block title %} search {% endblock title %}
{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/ser.css') }}">
</head>  
<h1 style="text-align: center; font-style: italic; color:blueviolet; ">About us</h1>
<h5 style="text-align: center; font-style: italic;">founded in 2021</h5>
<h5 style="text-align: center; font-style: italic;"> This is E-vaccination website</h5>
<h3  style="text-align: center; font-style: italic; color:blueviolet;"> Our Team member </h3>
<h4  style="text-align: center; font-style: italic;">A-51 Parmar Komal</h4>
<h4  style="text-align: center; font-style: italic;">A-78 Sathwara Helly</h4>
<h4  style="text-align: center; font-style: italic;">A-27 Kadiya Dharuvi</h4>


{% endblock body %}