{% extends 'base.html' %}
{% block title %} booking {% endblock title %}
{% block body %}
<h1 style="color:blueviolet; text-align: center; font-style: italic;">Booking Sloat</h1>

<div class="container">
    <h4 style="color:blueviolet; text-align: left; font-style: italic;"> registration for vaccine</h4>
   <form class="form" method="POST" action="/reacipt">
    <div class="mb-3">
        <label for="Cname" class="form-label">center name</label>
        <input type="text" class="form-control" name="cname" id="Cname" aria-describedby="emailHelp">
     </div>

     <div class="mb-3">
        <label for="vname" class="form-label">vaccine name </label>
        <input type="text" class="form-control" name="vname" id="vname" aria-describedby="emailHelp">
     </div>

     <div class="mb-3">
       <select  class="form-select" name="stime" id="stime">
         <option selected>select time</option>
         <option value="9:00 to 10:00 am">9:00 to 10:00 am</option>
         <option value="10:00 to 11:00 am">10:00 to 11:00 am</option>
         <option value="11:00 to 12:00 am">11:00 to 12:00 am</option>
         <option value="1:00 to 2:00 pm">1:00 to 2:00 pm</option>
         <option value="2:30 to 3:00 pm">2:30 to 3:00 pm</option>
       </select>
     </div>

   <div class="mb-3">
      <label for="email" class="form-label">Vaccine Dose</label>
      <div class="mb-3">
      <input class="form-check-input" type="radio" name="vdoze" id="vdoze2" value="First Dose" checked>
      <label class="form-check-label" for="vdoze2"> First Dose </label>
      </div>
      <div class="mb-3">
      <input class="form-check-input" type="radio" name="vdoze" id="vdoze1" value="Second Doze" checked>
      <label class="form-check-label" for="vdoze1"> Second Dose </label>
      </div>
   </div>

    <button type="submit" class="btn btn-outline-dark">submit</button>

   </form>
</div>    
{% endblock body %}