{% extends 'base.html' %}
{% block title %} feedback {% endblock title %}
{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/contact.css') }}">
</head>    
<h3 class="wrap" style="color:blueviolet; text-align: center; font-style: italic;">"you have any dout and any problem in our website then contact us"</h3>
<div class="contact-clean">
    <form action="/contact" method="POST">
        <h2 class="text-center">Contact us</h2>
        <div class="mb-3">
             <div class="form-group"><input class="form-control" type="text" name="named" placeholder="Name"></div>
        </div> 
        <div class="mb-3">    
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        </div>    
        <div class="mb-3">    
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        </div>
        <div class="mb-3">
        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </div>
    </form>
</div>
{% endblock body %}